{
    # Debug
    {$DEBUG}

    auto_https disable_redirects
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

{$SERVER_NAME}

log

# Matches requests for HTML documents, for static files and for Next.js files,
# except for known API paths and paths with extensions handled by API Platform
# @admin expression `(
#         {header.Accept}.matches("\\btext/html\\b")
#         && !{path}.matches("(?i)(?:^/docs|^/graphql|^/bundles/|^/_profiler|^/_wdt|\\.(?:json|html$|csv$|ya?ml$|xml$))")
#     )
#     || {path} == "/favicon.ico"
#     || {path} == "/manifest.json"
#     || {path} == "/robots.txt"
#     || {path}.startsWith("/_next")
#     || {path}.startsWith("/sitemap")`

@frontend expression `(
        {header.Accept}.matches("\\btext/html\\b")
        && !{path}.matches("(?i)(?:^/docs|^/graphql|^/bundles/|^/_profiler|^/_wdt|\\.(?:json|html$|csv$|ya?ml$|xml$))")
    )
    || {path} == "/favicon.ico"
    || {path} == "/vendor.js"
    || {path} == "/app.js"
    || {path} == "/manifest.json"
    || {path} == "/robots.txt"
    || {path} == "/chunk-common.js"
    || {path}.matches("(?i)(^/\\b([0-9]|[1-9][0-9])\\b\\.js)")
    || {path}.endsWith(".hot-update.js")
    || {path}.startsWith("/sockjs-node")
    || {path}.startsWith("/fonts")
    || {path}.startsWith("/img")
    || {path}.startsWith("/icons")`

route {
    root * /srv/api/public
    mercure {
        # Transport to use (default to Bolt)
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }
    vulcain
    push

    # Add links to the API docs and to the Mercure Hub if not set explicitly (e.g. the ADMIN)
    header ?Link `</docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation", </.well-known/mercure>; rel="mercure"`

    # Comment the following line if you don't want Next.js to catch requests for HTML documents.
    # In this case, they will be handled by the PHP app.

    # Enable reactadmin frontend
    # reverse_proxy @admin http://{$ADMIN_UPSTREAM}

    handle_path /phpmyadmin* {
		reverse_proxy http://{$PHPMYADMIN_UPSTREAM}
	}

    rewrite /message_relay /message_relay/
    handle /message_relay/* {
        uri strip_prefix /message_relay
        rewrite * /socket.io{path}
        reverse_proxy http://{$MESSAGE_RELAY_UPSTREAM} {
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    # Enable system frontend
    reverse_proxy @frontend http://{$FRONTEND_UPSTREAM}

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
